.cpd-theme-light-hc {
  --cpd-color-alpha-pink-1400: #420015;
  --cpd-color-alpha-pink-1300: #4d001d;
  --cpd-color-alpha-pink-1200: #660030;
  --cpd-color-alpha-pink-1100: #70003a;
  --cpd-color-alpha-pink-1000: #830242;
  --cpd-color-alpha-pink-900: #8f0045;
  --cpd-color-alpha-pink-800: #de0265;
  --cpd-color-alpha-pink-700: #f70250;
  --cpd-color-alpha-pink-600: #ff0040;
  --cpd-color-alpha-pink-500: #ff053f;
  --cpd-color-alpha-pink-400: #ff0a3f;
  --cpd-color-alpha-pink-300: #ff0037;
  --cpd-color-alpha-pink-200: #ff1447;
  --cpd-color-alpha-pink-100: #ff0537;
  --cpd-color-alpha-fuchsia-1400: #34004d;
  --cpd-color-alpha-fuchsia-1300: #3a0052;
  --cpd-color-alpha-fuchsia-1200: #53026e;
  --cpd-color-alpha-fuchsia-1100: #53026f;
  --cpd-color-alpha-fuchsia-1000: #5e007a;
  --cpd-color-alpha-fuchsia-900: #6a0387;
  --cpd-color-alpha-fuchsia-800: #a402b6;
  --cpd-color-alpha-fuchsia-700: #ab03ba;
  --cpd-color-alpha-fuchsia-600: #aa04b9;
  --cpd-color-alpha-fuchsia-500: #b207bb;
  --cpd-color-alpha-fuchsia-400: #b105bd;
  --cpd-color-alpha-fuchsia-300: #bd09c3;
  --cpd-color-alpha-fuchsia-200: #b60cc6;
  --cpd-color-alpha-fuchsia-100: #b505cc;
  --cpd-color-alpha-purple-1400: #1f0061;
  --cpd-color-alpha-purple-1300: #240070;
  --cpd-color-alpha-purple-1200: #360094;
  --cpd-color-alpha-purple-1100: #4300a8;
  --cpd-color-alpha-purple-1000: #4600b8;
  --cpd-color-alpha-purple-900: #4503bf;
  --cpd-color-alpha-purple-800: #4c02f7;
  --cpd-color-alpha-purple-700: #3c00ff;
  --cpd-color-alpha-purple-600: #3305ff;
  --cpd-color-alpha-purple-500: #2b05ff;
  --cpd-color-alpha-purple-400: #2b0aff;
  --cpd-color-alpha-purple-300: #2f0fff;
  --cpd-color-alpha-purple-200: #381aff;
  --cpd-color-alpha-purple-100: #5338ff;
  --cpd-color-alpha-blue-1400: #000b61;
  --cpd-color-alpha-blue-1300: #00156b;
  --cpd-color-alpha-blue-1200: #00257a;
  --cpd-color-alpha-blue-1100: #012e89;
  --cpd-color-alpha-blue-1000: #023997;
  --cpd-color-alpha-blue-900: #0241a7;
  --cpd-color-alpha-blue-800: #016ee9;
  --cpd-color-alpha-blue-700: #0062eb;
  --cpd-color-alpha-blue-600: #0264ed;
  --cpd-color-alpha-blue-500: #0663ef;
  --cpd-color-alpha-blue-400: #0565f5;
  --cpd-color-alpha-blue-300: #0b6af9;
  --cpd-color-alpha-blue-200: #0a70ff;
  --cpd-color-alpha-blue-100: #2474ff;
  --cpd-color-alpha-cyan-1400: #00174d;
  --cpd-color-alpha-cyan-1300: #001e52;
  --cpd-color-alpha-cyan-1200: #003066;
  --cpd-color-alpha-cyan-1100: #003870;
  --cpd-color-alpha-cyan-1000: #00437a;
  --cpd-color-alpha-cyan-900: #004d85;
  --cpd-color-alpha-cyan-800: #007ab3;
  --cpd-color-alpha-cyan-700: #0098c2;
  --cpd-color-alpha-cyan-600: #01b7cb;
  --cpd-color-alpha-cyan-500: #01aac1;
  --cpd-color-alpha-cyan-400: #03a9bf;
  --cpd-color-alpha-cyan-300: #00aabd;
  --cpd-color-alpha-cyan-200: #00a8c2;
  --cpd-color-alpha-cyan-100: #16abbb;
  --cpd-color-alpha-green-1400: #002410;
  --cpd-color-alpha-green-1300: #002916;
  --cpd-color-alpha-green-1200: #003824;
  --cpd-color-alpha-green-1100: #00422c;
  --cpd-color-alpha-green-1000: #004d36;
  --cpd-color-alpha-green-900: #00573e;
  --cpd-color-alpha-green-800: #00856a;
  --cpd-color-alpha-green-700: #00a37d;
  --cpd-color-alpha-green-600: #01c18a;
  --cpd-color-alpha-green-500: #01b76e;
  --cpd-color-alpha-green-400: #05b867;
  --cpd-color-alpha-green-300: #07b661;
  --cpd-color-alpha-green-200: #00b85c;
  --cpd-color-alpha-green-100: #16bb69;
  --cpd-color-alpha-lime-1400: #002400;
  --cpd-color-alpha-lime-1300: #002900;
  --cpd-color-alpha-lime-1200: #003800;
  --cpd-color-alpha-lime-1100: #004200;
  --cpd-color-alpha-lime-1000: #005200;
  --cpd-color-alpha-lime-900: #005700;
  --cpd-color-alpha-lime-800: #127e02;
  --cpd-color-alpha-lime-700: #249801;
  --cpd-color-alpha-lime-600: #39bd00;
  --cpd-color-alpha-lime-500: #40ce03;
  --cpd-color-alpha-lime-400: #37cc05;
  --cpd-color-alpha-lime-300: #3ace09;
  --cpd-color-alpha-lime-200: #2ecf02;
  --cpd-color-alpha-lime-100: #38d40c;
  --cpd-color-alpha-yellow-1400: #3d0500;
  --cpd-color-alpha-yellow-1300: #470c00;
  --cpd-color-alpha-yellow-1200: #571d00;
  --cpd-color-alpha-yellow-1100: #612700;
  --cpd-color-alpha-yellow-1000: #703200;
  --cpd-color-alpha-yellow-900: #753700;
  --cpd-color-alpha-yellow-800: #a86500;
  --cpd-color-alpha-yellow-700: #c28100;
  --cpd-color-alpha-yellow-600: #e0a500;
  --cpd-color-alpha-yellow-500: #f0bc00;
  --cpd-color-alpha-yellow-400: #ffcc00;
  --cpd-color-alpha-yellow-300: #ffc905;
  --cpd-color-alpha-yellow-200: #ffc905;
  --cpd-color-alpha-yellow-100: #ffc70f;
  --cpd-color-alpha-orange-1400: #420000;
  --cpd-color-alpha-orange-1300: #4d0000;
  --cpd-color-alpha-orange-1200: #660000;
  --cpd-color-alpha-orange-1100: #750000;
  --cpd-color-alpha-orange-1000: #8a0900;
  --cpd-color-alpha-orange-900: #941600;
  --cpd-color-alpha-orange-800: #c24e00;
  --cpd-color-alpha-orange-700: #e06c00;
  --cpd-color-alpha-orange-600: #f56e00;
  --cpd-color-alpha-orange-500: #fc6f03;
  --cpd-color-alpha-orange-400: #ff700a;
  --cpd-color-alpha-orange-300: #ff6d05;
  --cpd-color-alpha-orange-200: #ff6c0a;
  --cpd-color-alpha-orange-100: #ff7d1a;
  --cpd-color-alpha-red-1400: #420000;
  --cpd-color-alpha-red-1300: #4d0000;
  --cpd-color-alpha-red-1200: #660000;
  --cpd-color-alpha-red-1100: #750000;
  --cpd-color-alpha-red-1000: #8a000b;
  --cpd-color-alpha-red-900: #99001a;
  --cpd-color-alpha-red-800: #de0211;
  --cpd-color-alpha-red-700: #ff0900;
  --cpd-color-alpha-red-600: #ff1a05;
  --cpd-color-alpha-red-500: #ff2205;
  --cpd-color-alpha-red-400: #ff2605;
  --cpd-color-alpha-red-300: #ff2b0a;
  --cpd-color-alpha-red-200: #ff3814;
  --cpd-color-alpha-red-100: #ff391f;
  --cpd-color-alpha-gray-1400: #010309;
  --cpd-color-alpha-gray-1300: #00040a;
  --cpd-color-alpha-gray-1200: #020509;
  --cpd-color-alpha-gray-1100: #03060c;
  --cpd-color-alpha-gray-1000: #02060d;
  --cpd-color-alpha-gray-900: #030711;
  --cpd-color-alpha-gray-800: #020e22;
  --cpd-color-alpha-gray-700: #05152e;
  --cpd-color-alpha-gray-600: #011532;
  --cpd-color-alpha-gray-500: #011d3c;
  --cpd-color-alpha-gray-400: #052551;
  --cpd-color-alpha-gray-300: #052e61;
  --cpd-color-alpha-gray-200: #052657;
  --cpd-color-alpha-gray-100: #366881;
  --cpd-color-pink-1400: #410015;
  --cpd-color-pink-1300: #4a001c;
  --cpd-color-pink-1200: #64002f;
  --cpd-color-pink-1100: #72003a;
  --cpd-color-pink-1000: #840745;
  --cpd-color-pink-900: #92084b;
  --cpd-color-pink-800: #e00c6a;
  --cpd-color-pink-700: #f94e84;
  --cpd-color-pink-600: #ff88a6;
  --cpd-color-pink-500: #ffadc0;
  --cpd-color-pink-400: #ffd0da;
  --cpd-color-pink-300: #ffdee5;
  --cpd-color-pink-200: #ffecf0;
  --cpd-color-pink-100: #fff5f7;
  --cpd-color-fuchsia-1400: #32004a;
  --cpd-color-fuchsia-1300: #3b0053;
  --cpd-color-fuchsia-1200: #52026c;
  --cpd-color-fuchsia-1100: #5c0f76;
  --cpd-color-fuchsia-1000: #6c1785;
  --cpd-color-fuchsia-900: #781c90;
  --cpd-color-fuchsia-800: #b937c6;
  --cpd-color-fuchsia-700: #cb68d4;
  --cpd-color-fuchsia-600: #db93e1;
  --cpd-color-fuchsia-500: #e7b2ea;
  --cpd-color-fuchsia-400: #f1d2f3;
  --cpd-color-fuchsia-300: #f6dff7;
  --cpd-color-fuchsia-200: #faeefb;
  --cpd-color-fuchsia-100: #fcf5fd;
  --cpd-color-purple-1400: #1f0062;
  --cpd-color-purple-1300: #240070;
  --cpd-color-purple-1200: #360094;
  --cpd-color-purple-1100: #4200a6;
  --cpd-color-purple-1000: #4f0dba;
  --cpd-color-purple-900: #571cc4;
  --cpd-color-purple-800: #824ef9;
  --cpd-color-purple-700: #9778fe;
  --cpd-color-purple-600: #b1a0ff;
  --cpd-color-purple-500: #c5bbff;
  --cpd-color-purple-400: #ddd8ff;
  --cpd-color-purple-300: #e6e2ff;
  --cpd-color-purple-200: #f1efff;
  --cpd-color-purple-100: #f8f7ff;
  --cpd-color-blue-1400: #000c63;
  --cpd-color-blue-1300: #001569;
  --cpd-color-blue-1200: #03277b;
  --cpd-color-blue-1100: #043088;
  --cpd-color-blue-1000: #053b9a;
  --cpd-color-blue-900: #0543a7;
  --cpd-color-blue-800: #046ee8;
  --cpd-color-blue-700: #4a8ef0;
  --cpd-color-blue-600: #7eaff6;
  --cpd-color-blue-500: #a3c6fa;
  --cpd-color-blue-400: #c8ddfd;
  --cpd-color-blue-300: #d8e7fe;
  --cpd-color-blue-200: #e9f2ff;
  --cpd-color-blue-100: #f4f8ff;
  --cpd-color-cyan-1400: #00174d;
  --cpd-color-cyan-1300: #001e53;
  --cpd-color-cyan-1200: #002e64;
  --cpd-color-cyan-1100: #00376e;
  --cpd-color-cyan-1000: #00447b;
  --cpd-color-cyan-900: #004c84;
  --cpd-color-cyan-800: #007ab3;
  --cpd-color-cyan-700: #009ac3;
  --cpd-color-cyan-600: #15becf;
  --cpd-color-cyan-500: #76d1dd;
  --cpd-color-cyan-400: #b1e4eb;
  --cpd-color-cyan-300: #c7ecf0;
  --cpd-color-cyan-200: #e3f5f8;
  --cpd-color-cyan-100: #f1fafb;
  --cpd-color-green-1400: #00210f;
  --cpd-color-green-1300: #002715;
  --cpd-color-green-1200: #003723;
  --cpd-color-green-1100: #00402b;
  --cpd-color-green-1000: #004d36;
  --cpd-color-green-900: #00553d;
  --cpd-color-green-800: #008268;
  --cpd-color-green-700: #00a27c;
  --cpd-color-green-600: #0bc491;
  --cpd-color-green-500: #71d7ae;
  --cpd-color-green-400: #afe8ce;
  --cpd-color-green-300: #c6eedb;
  --cpd-color-green-200: #e3f7ed;
  --cpd-color-green-100: #f1fbf6;
  --cpd-color-lime-1400: #002200;
  --cpd-color-lime-1300: #002900;
  --cpd-color-lime-1200: #003900;
  --cpd-color-lime-1100: #004200;
  --cpd-color-lime-1000: #004f00;
  --cpd-color-lime-900: #005700;
  --cpd-color-lime-800: #1f850f;
  --cpd-color-lime-700: #3aa31a;
  --cpd-color-lime-600: #54c424;
  --cpd-color-lime-500: #76db4c;
  --cpd-color-lime-400: #afeb9b;
  --cpd-color-lime-300: #c8f1ba;
  --cpd-color-lime-200: #e0f8d9;
  --cpd-color-lime-100: #f1fcee;
  --cpd-color-yellow-1400: #3f0500;
  --cpd-color-yellow-1300: #450c00;
  --cpd-color-yellow-1200: #571d00;
  --cpd-color-yellow-1100: #612600;
  --cpd-color-yellow-1000: #6e3100;
  --cpd-color-yellow-900: #773800;
  --cpd-color-yellow-800: #a76300;
  --cpd-color-yellow-700: #c38100;
  --cpd-color-yellow-600: #dea200;
  --cpd-color-yellow-500: #f1bd00;
  --cpd-color-yellow-400: #ffda49;
  --cpd-color-yellow-300: #ffe484;
  --cpd-color-yellow-200: #fff2c1;
  --cpd-color-yellow-100: #fff8e0;
  --cpd-color-orange-1400: #420000;
  --cpd-color-orange-1300: #4c0000;
  --cpd-color-orange-1200: #670000;
  --cpd-color-orange-1100: #770000;
  --cpd-color-orange-1000: #890800;
  --cpd-color-orange-900: #931700;
  --cpd-color-orange-800: #c44d00;
  --cpd-color-orange-700: #e26e00;
  --cpd-color-orange-600: #f89440;
  --cpd-color-orange-500: #fdb37c;
  --cpd-color-orange-400: #ffd4b5;
  --cpd-color-orange-300: #ffdfc8;
  --cpd-color-orange-200: #ffefe4;
  --cpd-color-orange-100: #fff6ef;
  --cpd-color-red-1400: #420000;
  --cpd-color-red-1300: #4c0000;
  --cpd-color-red-1200: #670000;
  --cpd-color-red-1100: #770000;
  --cpd-color-red-1000: #8b000c;
  --cpd-color-red-900: #99001a;
  --cpd-color-red-800: #e11e2a;
  --cpd-color-red-700: #ff4e49;
  --cpd-color-red-600: #ff8c81;
  --cpd-color-red-500: #ffafa5;
  --cpd-color-red-400: #ffd1ca;
  --cpd-color-red-300: #ffdfda;
  --cpd-color-red-200: #ffefec;
  --cpd-color-red-100: #fff7f6;
  --cpd-color-gray-1400: #1a1c21;
  --cpd-color-gray-1300: #1f2126;
  --cpd-color-gray-1200: #2d3034;
  --cpd-color-gray-1100: #35383d;
  --cpd-color-gray-1000: #3f4248;
  --cpd-color-gray-900: #474a51;
  --cpd-color-gray-800: #6c737e;
  --cpd-color-gray-700: #878f9b;
  --cpd-color-gray-600: #a6adb7;
  --cpd-color-gray-500: #bdc4cc;
  --cpd-color-gray-400: #d7dce3;
  --cpd-color-gray-300: #e1e6ec;
  --cpd-color-gray-200: #f0f2f5;
  --cpd-color-gray-100: #f7f9fa;
  --cpd-color-theme-bg: #ffffff;
  --cpd-color-icon-accent-tertiary: var(--cpd-color-green-800);
  --cpd-color-icon-quaternary: var(--cpd-color-gray-700);
  --cpd-color-icon-tertiary: var(--cpd-color-gray-800);
  --cpd-color-icon-secondary: var(--cpd-color-gray-900);
  --cpd-color-icon-primary: var(--cpd-color-gray-1400);
  --cpd-color-text-link-external: var(--cpd-color-blue-900);
  --cpd-color-text-action-critical: var(--cpd-color-red-900);
  --cpd-color-text-action-accent: var(--cpd-color-green-900);
  --cpd-color-text-action-primary: var(--cpd-color-gray-1400);
  --cpd-color-text-disabled: var(--cpd-color-gray-800);
  --cpd-color-text-placeholder: var(--cpd-color-gray-800);
  --cpd-color-text-secondary: var(--cpd-color-gray-900);
  --cpd-color-text-primary: var(--cpd-color-gray-1400);
  --cpd-color-bg-action-primary: var(--cpd-color-gray-1400);
  --cpd-color-bg-secondary: var(--cpd-color-gray-300);
  --cpd-color-bg-primary: var(--cpd-color-gray-400);
  --cpd-color-bg-canvas: var(--cpd-color-theme-bg);
}
