.cpd-theme-light {
  --cpd-color-pink-1400: #430017;
  --cpd-color-pink-1300: #5f002b;
  --cpd-color-pink-1200: #7e0642;
  --cpd-color-pink-1100: #9f0850;
  --cpd-color-pink-1000: #b80a5b;
  --cpd-color-pink-900: #d20c65;
  --cpd-color-pink-800: #f7407d;
  --cpd-color-pink-700: #ff88a6;
  --cpd-color-pink-600: #ffadc0;
  --cpd-color-pink-500: #ffc2cf;
  --cpd-color-pink-400: #ffdee5;
  --cpd-color-pink-300: #ffecf0;
  --cpd-color-pink-200: #fff5f7;
  --cpd-color-pink-100: #fffafb;
  --cpd-color-fuchsia-1400: #34004c;
  --cpd-color-fuchsia-1300: #4e0068;
  --cpd-color-fuchsia-1200: #671481;
  --cpd-color-fuchsia-1100: #822198;
  --cpd-color-fuchsia-1000: #972aaa;
  --cpd-color-fuchsia-900: #ad33bd;
  --cpd-color-fuchsia-800: #c85ed1;
  --cpd-color-fuchsia-700: #db93e1;
  --cpd-color-fuchsia-600: #e7b2ea;
  --cpd-color-fuchsia-500: #edc6f0;
  --cpd-color-fuchsia-400: #f6dff7;
  --cpd-color-fuchsia-300: #faeefb;
  --cpd-color-fuchsia-200: #fcf5fd;
  --cpd-color-fuchsia-100: #fefafe;
  --cpd-color-purple-1400: #200066;
  --cpd-color-purple-1300: #33008d;
  --cpd-color-purple-1200: #4c05b5;
  --cpd-color-purple-1100: #5d26cd;
  --cpd-color-purple-1000: #6b37de;
  --cpd-color-purple-900: #7a47f1;
  --cpd-color-purple-800: #9271fd;
  --cpd-color-purple-700: #b1a0ff;
  --cpd-color-purple-600: #c5bbff;
  --cpd-color-purple-500: #d4cdff;
  --cpd-color-purple-400: #e6e2ff;
  --cpd-color-purple-300: #f1efff;
  --cpd-color-purple-200: #f8f7ff;
  --cpd-color-purple-100: #fbfbff;
  --cpd-color-blue-1400: #000e65;
  --cpd-color-blue-1300: #012478;
  --cpd-color-blue-1200: #043894;
  --cpd-color-blue-1100: #064ab1;
  --cpd-color-blue-1000: #0558c7;
  --cpd-color-blue-900: #0467dd;
  --cpd-color-blue-800: #4088ee;
  --cpd-color-blue-700: #7eaff6;
  --cpd-color-blue-600: #a3c6fa;
  --cpd-color-blue-500: #bad5fc;
  --cpd-color-blue-400: #d8e7fe;
  --cpd-color-blue-300: #e9f2ff;
  --cpd-color-blue-200: #f4f8ff;
  --cpd-color-blue-100: #f9fcff;
  --cpd-color-cyan-1400: #00194f;
  --cpd-color-cyan-1300: #002b61;
  --cpd-color-cyan-1200: #004077;
  --cpd-color-cyan-1100: #00548c;
  --cpd-color-cyan-1000: #00629c;
  --cpd-color-cyan-900: #0072ac;
  --cpd-color-cyan-800: #0094c0;
  --cpd-color-cyan-700: #15becf;
  --cpd-color-cyan-600: #76d1dd;
  --cpd-color-cyan-500: #9bdde5;
  --cpd-color-cyan-400: #c7ecf0;
  --cpd-color-cyan-300: #e3f5f8;
  --cpd-color-cyan-200: #f1fafb;
  --cpd-color-cyan-100: #f8fdfd;
  --cpd-color-green-1400: #002311;
  --cpd-color-green-1300: #003420;
  --cpd-color-green-1200: #004933;
  --cpd-color-green-1100: #005c45;
  --cpd-color-green-1000: #006b52;
  --cpd-color-green-900: #007a61;
  --cpd-color-green-800: #009b78;
  --cpd-color-green-700: #0bc491;
  --cpd-color-green-600: #71d7ae;
  --cpd-color-green-500: #98e1c1;
  --cpd-color-green-400: #c6eedb;
  --cpd-color-green-300: #e3f7ed;
  --cpd-color-green-200: #f1fbf6;
  --cpd-color-green-100: #f8fdfb;
  --cpd-color-lime-1400: #002400;
  --cpd-color-lime-1300: #003600;
  --cpd-color-lime-1200: #004b00;
  --cpd-color-lime-1100: #005f00;
  --cpd-color-lime-1000: #006e00;
  --cpd-color-lime-900: #197d0c;
  --cpd-color-lime-800: #359d18;
  --cpd-color-lime-700: #54c424;
  --cpd-color-lime-600: #76db4c;
  --cpd-color-lime-500: #99e57e;
  --cpd-color-lime-400: #c8f1ba;
  --cpd-color-lime-300: #e0f8d9;
  --cpd-color-lime-200: #f1fcee;
  --cpd-color-lime-100: #f8fdf6;
  --cpd-color-yellow-1400: #410600;
  --cpd-color-yellow-1300: #541a00;
  --cpd-color-yellow-1200: #692e00;
  --cpd-color-yellow-1100: #803f00;
  --cpd-color-yellow-1000: #8f4d00;
  --cpd-color-yellow-900: #9f5b00;
  --cpd-color-yellow-800: #be7a00;
  --cpd-color-yellow-700: #dea200;
  --cpd-color-yellow-600: #f1bd00;
  --cpd-color-yellow-500: #fbce00;
  --cpd-color-yellow-400: #ffe484;
  --cpd-color-yellow-300: #fff2c1;
  --cpd-color-yellow-200: #fff8e0;
  --cpd-color-yellow-100: #fffcf0;
  --cpd-color-orange-1400: #450000;
  --cpd-color-orange-1300: #620000;
  --cpd-color-orange-1200: #850000;
  --cpd-color-orange-1100: #9b2200;
  --cpd-color-orange-1000: #ac3300;
  --cpd-color-orange-900: #bc4500;
  --cpd-color-orange-800: #dc6700;
  --cpd-color-orange-700: #f89440;
  --cpd-color-orange-600: #fdb37c;
  --cpd-color-orange-500: #ffc8a1;
  --cpd-color-orange-400: #ffdfc8;
  --cpd-color-orange-300: #ffefe4;
  --cpd-color-orange-200: #fff6ef;
  --cpd-color-orange-100: #fffaf7;
  --cpd-color-red-1400: #450000;
  --cpd-color-red-1300: #620000;
  --cpd-color-red-1200: #850006;
  --cpd-color-red-1100: #a4041d;
  --cpd-color-red-1000: #bc0f22;
  --cpd-color-red-900: #d51928;
  --cpd-color-red-800: #ff3d3d;
  --cpd-color-red-700: #ff8c81;
  --cpd-color-red-600: #ffafa5;
  --cpd-color-red-500: #ffc5bc;
  --cpd-color-red-400: #ffdfda;
  --cpd-color-red-300: #ffefec;
  --cpd-color-red-200: #fff7f6;
  --cpd-color-red-100: #fffaf9;
  --cpd-color-gray-1400: #0f1e2e;
  --cpd-color-gray-1300: #1e2e3f;
  --cpd-color-gray-1200: #2f4152;
  --cpd-color-gray-1100: #415265;
  --cpd-color-gray-1000: #4d5f72;
  --cpd-color-gray-900: #5b6e81;
  --cpd-color-gray-800: #798b9d;
  --cpd-color-gray-700: #a2aebc;
  --cpd-color-gray-600: #bcc5ce;
  --cpd-color-gray-500: #ccd3da;
  --cpd-color-gray-400: #e2e6ea;
  --cpd-color-gray-300: #eef1f3;
  --cpd-color-gray-200: #f7f8f9;
  --cpd-color-gray-100: #fbfbfc;
  --cpd-font-letter-spacing-heading-xl: -0.0216em;
  --cpd-font-letter-spacing-heading-lg: -0.0209em;
  --cpd-font-letter-spacing-heading-md: -0.0195em;
  --cpd-font-letter-spacing-heading-sm: -0.0166em;
  --cpd-font-letter-spacing-body-lg: -0.0128em;
  --cpd-font-letter-spacing-body-md: 0.0088em;
  --cpd-font-letter-spacing-body-sm: 0.0031em;
  --cpd-font-letter-spacing-body-xs: 0.0048em;
  --cpd-font-size-heading-xl: 32px;
  --cpd-font-size-heading-lg: 28px;
  --cpd-font-size-heading-md: 24px;
  --cpd-font-size-heading-sm: 20px;
  --cpd-font-size-body-lg: 17px;
  --cpd-font-size-body-md: 15px;
  --cpd-font-size-body-sm: 13px;
  --cpd-font-size-body-xs: 11px;
  --cpd-font-line-height-regular: 150%;
  --cpd-font-line-height-tight: 125%;
  --cpd-font-line-height-minimum: 100%;
  --cpd-font-weight-bold: 700;
  --cpd-font-weight-semibold: 600;
  --cpd-font-weight-medium: 500;
  --cpd-font-weight-regular: 400;
  --cpd-font-family-mono: Inconsolata;
  --cpd-font-family-sans: Inter;
  --cpd-border-width-0-5: 0.5;
  --cpd-border-width-4: 4;
  --cpd-border-width-2: 2;
  --cpd-border-width-1: 1;
  --cpd-space-0x: 0px;
  --cpd-space-scale: 4px;
  --cpd-font-heading-xl: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-xl)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-lg: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-lg)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-md: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-md)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-sm: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-sm)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-body-lg: var(--cpd-font-weight-regular) var(--cpd-font-size-body-lg)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-md: var(--cpd-font-weight-regular) var(--cpd-font-size-body-md)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-sm: var(--cpd-font-weight-regular) var(--cpd-font-size-body-sm)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-xs: var(--cpd-font-weight-regular) var(--cpd-font-size-body-xs)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-space-64x: 256px;
  --cpd-space-56x: 22var(--cpd-space-scale);
  --cpd-space-48x: 192px;
  --cpd-space-40x: 160px;
  --cpd-space-36x: 14var(--cpd-space-scale);
  --cpd-space-32x: 128px;
  --cpd-space-28x: 112px;
  --cpd-space-24x: 96px;
  --cpd-space-20x: 80px;
  --cpd-space-16x: 6var(--cpd-space-scale);
  --cpd-space-15x: 60px;
  --cpd-space-14x: 56px;
  --cpd-space-13x: 52px;
  --cpd-space-12x: 48px;
  --cpd-space-11x: 4var(--cpd-space-scale);
  --cpd-space-10x: 40px;
  --cpd-space-9x: 36px;
  --cpd-space-8x: 32px;
  --cpd-space-7x: 28px;
  --cpd-space-6x: 2var(--cpd-space-scale);
  --cpd-space-5x: 20px;
  --cpd-space-4x: 16px;
  --cpd-space-3x: 12px;
  --cpd-space-2x: 8px;
  --cpd-space-1-5x: 6px;
  --cpd-space-1x: var(--cpd-space-scale);
  --cpd-space-0-5x: 2px;
}
