.cpd-theme-dark-hc {
  --cpd-color-pink-1400: #fff0f3;
  --cpd-color-pink-1300: #ffe7ec;
  --cpd-color-pink-1200: #ffccd7;
  --cpd-color-pink-1100: #ffbbc9;
  --cpd-color-pink-1000: #ffa4b8;
  --cpd-color-pink-900: #ff92ac;
  --cpd-color-pink-800: #f12b75;
  --cpd-color-pink-700: #c51761;
  --cpd-color-pink-600: #98114f;
  --cpd-color-pink-500: #7b0c41;
  --cpd-color-pink-400: #61002d;
  --cpd-color-pink-300: #550024;
  --cpd-color-pink-200: #450018;
  --cpd-color-pink-100: #3c0012;
  --cpd-color-fuchsia-1400: #fbf1fb;
  --cpd-color-fuchsia-1300: #f8e8f9;
  --cpd-color-fuchsia-1200: #f0cff2;
  --cpd-color-fuchsia-1100: #eabfed;
  --cpd-color-fuchsia-1000: #e3abe7;
  --cpd-color-fuchsia-900: #dd9ce2;
  --cpd-color-fuchsia-800: #c152cb;
  --cpd-color-fuchsia-700: #a233b3;
  --cpd-color-fuchsia-600: #7d2394;
  --cpd-color-fuchsia-500: #65177d;
  --cpd-color-fuchsia-400: #4f0368;
  --cpd-color-fuchsia-300: #44005c;
  --cpd-color-fuchsia-200: #37004e;
  --cpd-color-fuchsia-100: #2c0042;
  --cpd-color-purple-1400: #f4f3ff;
  --cpd-color-purple-1300: #eeebff;
  --cpd-color-purple-1200: #dad4ff;
  --cpd-color-purple-1100: #cec6ff;
  --cpd-color-purple-1000: #c0b5ff;
  --cpd-color-purple-900: #b6a7ff;
  --cpd-color-purple-800: #8b66f8;
  --cpd-color-purple-700: #7343e5;
  --cpd-color-purple-600: #5a27c6;
  --cpd-color-purple-500: #490bb1;
  --cpd-color-purple-400: #350090;
  --cpd-color-purple-300: #2c0080;
  --cpd-color-purple-200: #210068;
  --cpd-color-purple-100: #1c005a;
  --cpd-color-blue-1400: #eef4fe;
  --cpd-color-blue-1300: #e4eefe;
  --cpd-color-blue-1200: #c4dbfc;
  --cpd-color-blue-1100: #b2cffa;
  --cpd-color-blue-1000: #99c0f8;
  --cpd-color-blue-900: #88b4f6;
  --cpd-color-blue-800: #327fe9;
  --cpd-color-blue-700: #0e61d1;
  --cpd-color-blue-600: #0b48ab;
  --cpd-color-blue-500: #083890;
  --cpd-color-blue-400: #032677;
  --cpd-color-blue-300: #001d6e;
  --cpd-color-blue-200: #001063;
  --cpd-color-blue-100: #00095d;
  --cpd-color-cyan-1400: #e8f7f9;
  --cpd-color-cyan-1300: #d9f2f5;
  --cpd-color-cyan-1200: #afe2e9;
  --cpd-color-cyan-1100: #92d8e2;
  --cpd-color-cyan-1000: #6accd9;
  --cpd-color-cyan-900: #43c3d2;
  --cpd-color-cyan-800: #008aba;
  --cpd-color-cyan-700: #006ba4;
  --cpd-color-cyan-600: #005188;
  --cpd-color-cyan-500: #003f74;
  --cpd-color-cyan-400: #002d61;
  --cpd-color-cyan-300: #002559;
  --cpd-color-cyan-200: #001b4e;
  --cpd-color-cyan-100: #001448;
  --cpd-color-green-1400: #e8f8f0;
  --cpd-color-green-1300: #d9f3e7;
  --cpd-color-green-1200: #abe5cb;
  --cpd-color-green-1100: #8eddbc;
  --cpd-color-green-1000: #61d1a6;
  --cpd-color-green-900: #37c998;
  --cpd-color-green-800: #109173;
  --cpd-color-green-700: #00745c;
  --cpd-color-green-600: #005a43;
  --cpd-color-green-500: #004832;
  --cpd-color-green-400: #003622;
  --cpd-color-green-300: #002e1b;
  --cpd-color-green-200: #002513;
  --cpd-color-green-100: #001f0e;
  --cpd-color-lime-1400: #e8f9e3;
  --cpd-color-lime-1300: #daf6d0;
  --cpd-color-lime-1200: #ade998;
  --cpd-color-lime-1100: #91e173;
  --cpd-color-lime-1000: #69d536;
  --cpd-color-lime-900: #5eca2f;
  --cpd-color-lime-800: #31941d;
  --cpd-color-lime-700: #187611;
  --cpd-color-lime-600: #005c00;
  --cpd-color-lime-500: #004a00;
  --cpd-color-lime-400: #003700;
  --cpd-color-lime-300: #002f00;
  --cpd-color-lime-200: #002500;
  --cpd-color-lime-100: #001e00;
  --cpd-color-yellow-1400: #fff4d0;
  --cpd-color-yellow-1300: #ffedb0;
  --cpd-color-yellow-1200: #fed632;
  --cpd-color-yellow-1100: #f6c816;
  --cpd-color-yellow-1000: #ebb607;
  --cpd-color-yellow-900: #e2aa00;
  --cpd-color-yellow-800: #b47200;
  --cpd-color-yellow-700: #975600;
  --cpd-color-yellow-600: #7b3e03;
  --cpd-color-yellow-500: #682e03;
  --cpd-color-yellow-400: #541d00;
  --cpd-color-yellow-300: #4c1400;
  --cpd-color-yellow-200: #410900;
  --cpd-color-yellow-100: #3a0300;
  --cpd-color-orange-1400: #fff2e8;
  --cpd-color-orange-1300: #ffe9db;
  --cpd-color-orange-1200: #fed0b1;
  --cpd-color-orange-1100: #fdc096;
  --cpd-color-orange-1000: #faac73;
  --cpd-color-orange-900: #f89d58;
  --cpd-color-orange-800: #d15f0b;
  --cpd-color-orange-700: #b34007;
  --cpd-color-orange-600: #972105;
  --cpd-color-orange-500: #820300;
  --cpd-color-orange-400: #650000;
  --cpd-color-orange-300: #580000;
  --cpd-color-orange-200: #470000;
  --cpd-color-orange-100: #3c0000;
  --cpd-color-red-1400: #fff2ef;
  --cpd-color-red-1300: #ffe8e5;
  --cpd-color-red-1200: #ffcec7;
  --cpd-color-red-1100: #ffbdb5;
  --cpd-color-red-1000: #ffa79c;
  --cpd-color-red-900: #ff958a;
  --cpd-color-red-800: #f52f33;
  --cpd-color-red-700: #c81d28;
  --cpd-color-red-600: #9e0c1e;
  --cpd-color-red-500: #830009;
  --cpd-color-red-400: #640000;
  --cpd-color-red-300: #570000;
  --cpd-color-red-200: #470000;
  --cpd-color-red-100: #3b0000;
  --cpd-color-gray-1400: #f3f4f6;
  --cpd-color-gray-1300: #ebedf0;
  --cpd-color-gray-1200: #d4dadf;
  --cpd-color-gray-1100: #c7ced5;
  --cpd-color-gray-1000: #b5bec9;
  --cpd-color-gray-900: #a9b4c0;
  --cpd-color-gray-800: #718295;
  --cpd-color-gray-700: #56687a;
  --cpd-color-gray-600: #3f5062;
  --cpd-color-gray-500: #304051;
  --cpd-color-gray-400: #1f2f3f;
  --cpd-color-gray-300: #1a2939;
  --cpd-color-gray-200: #11202f;
  --cpd-color-gray-100: #0c1b29;
  --cpd-font-letter-spacing-heading-xl: -0.0216em;
  --cpd-font-letter-spacing-heading-lg: -0.0209em;
  --cpd-font-letter-spacing-heading-md: -0.0195em;
  --cpd-font-letter-spacing-heading-sm: -0.0166em;
  --cpd-font-letter-spacing-body-lg: -0.0128em;
  --cpd-font-letter-spacing-body-md: 0.0088em;
  --cpd-font-letter-spacing-body-sm: 0.0031em;
  --cpd-font-letter-spacing-body-xs: 0.0048em;
  --cpd-font-size-heading-xl: 32px;
  --cpd-font-size-heading-lg: 28px;
  --cpd-font-size-heading-md: 24px;
  --cpd-font-size-heading-sm: 20px;
  --cpd-font-size-body-lg: 17px;
  --cpd-font-size-body-md: 15px;
  --cpd-font-size-body-sm: 13px;
  --cpd-font-size-body-xs: 11px;
  --cpd-font-line-height-regular: 150%;
  --cpd-font-line-height-tight: 125%;
  --cpd-font-line-height-minimum: 100%;
  --cpd-font-weight-bold: 700;
  --cpd-font-weight-semibold: 600;
  --cpd-font-weight-medium: 500;
  --cpd-font-weight-regular: 400;
  --cpd-font-family-mono: Inconsolata;
  --cpd-font-family-sans: Inter;
  --cpd-border-width-0-5: 0.5;
  --cpd-border-width-4: 4;
  --cpd-border-width-2: 2;
  --cpd-border-width-1: 1;
  --cpd-space-0x: 0px;
  --cpd-space-scale: 4px;
  --cpd-color-surface-level-1: var(--cpd-color-gray-200);
  --cpd-color-text-accent: var(--cpd-color-green-900);
  --cpd-color-text-secondary: var(--cpd-color-gray-900);
  --cpd-color-text-primary: var(--cpd-color-gray-1400);
  --cpd-font-heading-xl: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-xl)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-lg: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-lg)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-md: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-md)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-sm: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-sm)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-body-lg: var(--cpd-font-weight-regular) var(--cpd-font-size-body-lg)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-md: var(--cpd-font-weight-regular) var(--cpd-font-size-body-md)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-sm: var(--cpd-font-weight-regular) var(--cpd-font-size-body-sm)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-xs: var(--cpd-font-weight-regular) var(--cpd-font-size-body-xs)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-space-64x: 256px;
  --cpd-space-56x: 22var(--cpd-space-scale);
  --cpd-space-48x: 192px;
  --cpd-space-40x: 160px;
  --cpd-space-36x: 14var(--cpd-space-scale);
  --cpd-space-32x: 128px;
  --cpd-space-28x: 112px;
  --cpd-space-24x: 96px;
  --cpd-space-20x: 80px;
  --cpd-space-16x: 6var(--cpd-space-scale);
  --cpd-space-15x: 60px;
  --cpd-space-14x: 56px;
  --cpd-space-13x: 52px;
  --cpd-space-12x: 48px;
  --cpd-space-11x: 4var(--cpd-space-scale);
  --cpd-space-10x: 40px;
  --cpd-space-9x: 36px;
  --cpd-space-8x: 32px;
  --cpd-space-7x: 28px;
  --cpd-space-6x: 2var(--cpd-space-scale);
  --cpd-space-5x: 20px;
  --cpd-space-4x: 16px;
  --cpd-space-3x: 12px;
  --cpd-space-2x: 8px;
  --cpd-space-1-5x: 6px;
  --cpd-space-1x: var(--cpd-space-scale);
  --cpd-space-0-5x: 2px;
}
