:root, [class*="cpd-theme-"] {
  --cpd-font-letter-spacing-heading-xl: -0.0216em;
  --cpd-font-letter-spacing-heading-lg: -0.0209em;
  --cpd-font-letter-spacing-heading-md: -0.0195em;
  --cpd-font-letter-spacing-heading-sm: -0.0166em;
  --cpd-font-letter-spacing-body-lg: -0.0128em;
  --cpd-font-letter-spacing-body-md: -0.0088em;
  --cpd-font-letter-spacing-body-sm: -0.0031em;
  --cpd-font-letter-spacing-body-xs: 0.0048em;
  --cpd-font-size-root: 1rem;
  --cpd-font-size-heading-xl: 2rem;
  --cpd-font-size-heading-lg: 1.75rem;
  --cpd-font-size-heading-md: 1.5rem;
  --cpd-font-size-heading-sm: 1.25rem;
  --cpd-font-size-body-lg: 1.0625rem;
  --cpd-font-size-body-md: 0.9375rem;
  --cpd-font-size-body-sm: 0.8125rem;
  --cpd-font-size-body-xs: 0.6875rem;
  --cpd-font-line-height-regular: 1.5;
  --cpd-font-line-height-tight: 1.25;
  --cpd-font-line-height-minimum: 1;
  --cpd-font-weight-semibold: 600;
  --cpd-font-weight-medium: 500;
  --cpd-font-weight-regular: 400;
  --cpd-font-family-mono: Inconsolata;
  --cpd-font-family-sans: Inter;
  --cpd-border-width-0-5: 0.5px;
  --cpd-border-width-4: 4px;
  --cpd-border-width-2: 2px;
  --cpd-border-width-1: 1px;
  --cpd-space-56x: 224px;
  --cpd-space-36x: 144px;
  --cpd-space-16x: 64px;
  --cpd-space-12x: 48px;
  --cpd-space-11x: 44px;
  --cpd-space-10x: 40px;
  --cpd-space-6x: 24px;
  --cpd-space-0x: 0;
  --cpd-space-scale: 4px;
  --cpd-font-heading-xl-semibold: var(--cpd-font-weight-semibold) var(--cpd-font-size-heading-xl)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-xl-regular: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-xl)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-lg-semibold: var(--cpd-font-weight-semibold) var(--cpd-font-size-heading-lg)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-lg-regular: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-lg)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-md-semibold: var(--cpd-font-weight-semibold) var(--cpd-font-size-heading-md)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-md-regular: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-md)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-sm-semibold: var(--cpd-font-weight-semibold) var(--cpd-font-line-height-tight)rem/1.25 var(--cpd-font-family-sans);
  --cpd-font-heading-sm-medium: var(--cpd-font-weight-medium) var(--cpd-font-line-height-tight)rem/1.25 var(--cpd-font-family-sans);
  --cpd-font-heading-sm-regular: var(--cpd-font-weight-regular) var(--cpd-font-line-height-tight)rem/1.25 var(--cpd-font-family-sans);
  --cpd-font-body-lg-semibold: var(--cpd-font-weight-semibold) var(--cpd-font-size-body-lg)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-lg-medium: var(--cpd-font-weight-medium) var(--cpd-font-size-body-lg)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-lg-regular: var(--cpd-font-weight-regular) var(--cpd-font-size-body-lg)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-md-semibold: var(--cpd-font-weight-semibold) var(--cpd-font-size-body-md)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-md-medium: var(--cpd-font-weight-medium) var(--cpd-font-size-body-md)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-md-regular: var(--cpd-font-weight-regular) var(--cpd-font-size-body-md)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-sm-semibold: var(--cpd-font-weight-semibold) var(--cpd-font-size-body-sm)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-sm-medium: var(--cpd-font-weight-medium) var(--cpd-font-size-body-sm)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-sm-regular: var(--cpd-font-weight-regular) var(--cpd-font-size-body-sm)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-xs-semibold: var(--cpd-font-weight-semibold) var(--cpd-font-size-body-xs)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-xs-medium: var(--cpd-font-weight-medium) var(--cpd-font-size-body-xs)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-xs-regular: var(--cpd-font-weight-regular) var(--cpd-font-size-body-xs)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-space-64x: var(--cpd-space-scale) * 64;
  --cpd-space-48x: var(--cpd-space-scale) * 48;
  --cpd-space-40x: var(--cpd-space-scale) * 40;
  --cpd-space-32x: var(--cpd-space-scale) * 32;
  --cpd-space-28x: var(--cpd-space-scale) * 28;
  --cpd-space-24x: var(--cpd-space-scale) * 24;
  --cpd-space-20x: var(--cpd-space-scale) * 20;
  --cpd-space-15x: var(--cpd-space-scale) * 15;
  --cpd-space-14x: var(--cpd-space-scale) * 14;
  --cpd-space-13x: var(--cpd-space-scale) * 13;
  --cpd-space-9x: var(--cpd-space-scale) * 9;
  --cpd-space-8x: var(--cpd-space-scale) * 8;
  --cpd-space-7x: var(--cpd-space-scale) * 7;
  --cpd-space-5x: var(--cpd-space-scale) * 5;
  --cpd-space-4x: var(--cpd-space-scale) * 4;
  --cpd-space-3x: var(--cpd-space-scale) * 3;
  --cpd-space-2x: var(--cpd-space-scale) * 2;
  --cpd-space-1-5x: var(--cpd-space-scale) * 1.5;
  --cpd-space-1x: var(--cpd-space-scale);
  --cpd-space-0-5x: var(--cpd-space-scale) * 0.5;
}
