.cpd-theme-dark {
  --cpd-color-pink-1400: #ffe8ed;
  --cpd-color-pink-1300: #ffd2dc;
  --cpd-color-pink-1200: #ffabbe;
  --cpd-color-pink-1100: #fe84a2;
  --cpd-color-pink-1000: #fa658f;
  --cpd-color-pink-900: #f4427d;
  --cpd-color-pink-800: #ce1865;
  --cpd-color-pink-700: #99114f;
  --cpd-color-pink-600: #7c0c41;
  --cpd-color-pink-500: #6d0036;
  --cpd-color-pink-400: #550024;
  --cpd-color-pink-300: #450018;
  --cpd-color-pink-200: #3c0012;
  --cpd-color-pink-100: #37000f;
  --cpd-color-fuchsia-1400: #f8e9f9;
  --cpd-color-fuchsia-1300: #f1d4f3;
  --cpd-color-fuchsia-1200: #e5b1e9;
  --cpd-color-fuchsia-1100: #d991de;
  --cpd-color-fuchsia-1000: #cf78d7;
  --cpd-color-fuchsia-900: #c560cf;
  --cpd-color-fuchsia-800: #aa36ba;
  --cpd-color-fuchsia-700: #7d2394;
  --cpd-color-fuchsia-600: #65177d;
  --cpd-color-fuchsia-500: #560f6f;
  --cpd-color-fuchsia-400: #46005e;
  --cpd-color-fuchsia-300: #37004e;
  --cpd-color-fuchsia-200: #2e0044;
  --cpd-color-fuchsia-100: #28003d;
  --cpd-color-purple-1400: #eeebff;
  --cpd-color-purple-1300: #dedaff;
  --cpd-color-purple-1200: #c4baff;
  --cpd-color-purple-1100: #ad9cfe;
  --cpd-color-purple-1000: #9e87fc;
  --cpd-color-purple-900: #9171f9;
  --cpd-color-purple-800: #7849ec;
  --cpd-color-purple-700: #5a27c6;
  --cpd-color-purple-600: #4a0db1;
  --cpd-color-purple-500: #3d009e;
  --cpd-color-purple-400: #2c0080;
  --cpd-color-purple-300: #22006a;
  --cpd-color-purple-200: #1c005a;
  --cpd-color-purple-100: #1a0055;
  --cpd-color-blue-1400: #e4eefe;
  --cpd-color-blue-1300: #cbdffc;
  --cpd-color-blue-1200: #a1c4f8;
  --cpd-color-blue-1100: #7aacf4;
  --cpd-color-blue-1000: #5e99f0;
  --cpd-color-blue-900: #4187eb;
  --cpd-color-blue-800: #0e67d9;
  --cpd-color-blue-700: #0b49ab;
  --cpd-color-blue-600: #083891;
  --cpd-color-blue-500: #062d80;
  --cpd-color-blue-400: #001e6f;
  --cpd-color-blue-300: #001264;
  --cpd-color-blue-200: #00095d;
  --cpd-color-blue-100: #00055a;
  --cpd-color-cyan-1400: #dbf2f5;
  --cpd-color-cyan-1300: #b8e5eb;
  --cpd-color-cyan-1200: #78d0dc;
  --cpd-color-cyan-1100: #21bacd;
  --cpd-color-cyan-1000: #02a7c6;
  --cpd-color-cyan-900: #0093be;
  --cpd-color-cyan-800: #0271aa;
  --cpd-color-cyan-700: #005188;
  --cpd-color-cyan-600: #003f75;
  --cpd-color-cyan-500: #003468;
  --cpd-color-cyan-400: #002559;
  --cpd-color-cyan-300: #001b4e;
  --cpd-color-cyan-200: #001448;
  --cpd-color-cyan-100: #001144;
  --cpd-color-green-1400: #d9f4e7;
  --cpd-color-green-1300: #b5e8d1;
  --cpd-color-green-1200: #72d5ae;
  --cpd-color-green-1100: #1fc090;
  --cpd-color-green-1000: #17ac84;
  --cpd-color-green-900: #129a78;
  --cpd-color-green-800: #007a62;
  --cpd-color-green-700: #005a43;
  --cpd-color-green-600: #004832;
  --cpd-color-green-500: #003d29;
  --cpd-color-green-400: #002e1b;
  --cpd-color-green-300: #002513;
  --cpd-color-green-200: #001f0e;
  --cpd-color-green-100: #001c0b;
  --cpd-color-lime-1400: #daf6d0;
  --cpd-color-lime-1300: #b6eca3;
  --cpd-color-lime-1200: #77d94f;
  --cpd-color-lime-1100: #56c02c;
  --cpd-color-lime-1000: #47ad26;
  --cpd-color-lime-900: #389b20;
  --cpd-color-lime-800: #1d7c13;
  --cpd-color-lime-700: #005c00;
  --cpd-color-lime-600: #004a00;
  --cpd-color-lime-500: #003e00;
  --cpd-color-lime-400: #003000;
  --cpd-color-lime-300: #002600;
  --cpd-color-lime-200: #002000;
  --cpd-color-lime-100: #001b00;
  --cpd-color-yellow-1400: #ffedb1;
  --cpd-color-yellow-1300: #fedb58;
  --cpd-color-yellow-1200: #efbb0b;
  --cpd-color-yellow-1100: #db9f00;
  --cpd-color-yellow-1000: #cc8c00;
  --cpd-color-yellow-900: #bc7a00;
  --cpd-color-yellow-800: #9d5b00;
  --cpd-color-yellow-700: #7c3e02;
  --cpd-color-yellow-600: #682e03;
  --cpd-color-yellow-500: #5c2400;
  --cpd-color-yellow-400: #4c1400;
  --cpd-color-yellow-300: #410900;
  --cpd-color-yellow-200: #3a0300;
  --cpd-color-yellow-100: #360000;
  --cpd-color-orange-1400: #ffeadb;
  --cpd-color-orange-1300: #ffd5b9;
  --cpd-color-orange-1200: #fbb37e;
  --cpd-color-orange-1100: #f6913d;
  --cpd-color-orange-1000: #eb7a12;
  --cpd-color-orange-900: #da670d;
  --cpd-color-orange-800: #b94607;
  --cpd-color-orange-700: #972206;
  --cpd-color-orange-600: #830500;
  --cpd-color-orange-500: #710000;
  --cpd-color-orange-400: #580000;
  --cpd-color-orange-300: #470000;
  --cpd-color-orange-200: #3c0000;
  --cpd-color-orange-100: #380000;
  --cpd-color-red-1400: #ffe9e6;
  --cpd-color-red-1300: #ffd4cd;
  --cpd-color-red-1200: #ffaea4;
  --cpd-color-red-1100: #ff877c;
  --cpd-color-red-1000: #ff665d;
  --cpd-color-red-900: #fd3e3c;
  --cpd-color-red-800: #d1212a;
  --cpd-color-red-700: #9f0d1e;
  --cpd-color-red-600: #830009;
  --cpd-color-red-500: #710000;
  --cpd-color-red-400: #590000;
  --cpd-color-red-300: #470000;
  --cpd-color-red-200: #3e0000;
  --cpd-color-red-100: #370000;
  --cpd-color-gray-1400: #ebeef2;
  --cpd-color-gray-1300: #d9dee4;
  --cpd-color-gray-1200: #bdc3cc;
  --cpd-color-gray-1100: #a3aab4;
  --cpd-color-gray-1000: #9199a4;
  --cpd-color-gray-900: #808994;
  --cpd-color-gray-800: #656c76;
  --cpd-color-gray-700: #4a4f55;
  --cpd-color-gray-600: #3c3f44;
  --cpd-color-gray-500: #323539;
  --cpd-color-gray-400: #26282d;
  --cpd-color-gray-300: #1d1f24;
  --cpd-color-gray-200: #181a1f;
  --cpd-color-gray-100: #14171b;
  --cpd-color-theme-bg: #101317;
}
