.cpd-theme-light-hc {
  --cpd-color-pink-1400: #ffe7ec;
  --cpd-color-pink-1300: #ffd1db;
  --cpd-color-pink-1200: #ffabbd;
  --cpd-color-pink-1100: #fe84a2;
  --cpd-color-pink-1000: #fa648f;
  --cpd-color-pink-900: #f4417d;
  --cpd-color-pink-800: #ce1865;
  --cpd-color-pink-700: #98114f;
  --cpd-color-pink-600: #7b0c41;
  --cpd-color-pink-500: #6c0035;
  --cpd-color-pink-400: #550024;
  --cpd-color-pink-300: #450018;
  --cpd-color-pink-200: #3c0012;
  --cpd-color-pink-100: #37000f;
  --cpd-color-fuchsia-1400: #f8e8f9;
  --cpd-color-fuchsia-1300: #f1d4f3;
  --cpd-color-fuchsia-1200: #e5b1e9;
  --cpd-color-fuchsia-1100: #d990de;
  --cpd-color-fuchsia-1000: #cf78d7;
  --cpd-color-fuchsia-900: #c55fcf;
  --cpd-color-fuchsia-800: #aa36ba;
  --cpd-color-fuchsia-700: #7d2394;
  --cpd-color-fuchsia-600: #65177d;
  --cpd-color-fuchsia-500: #560f6f;
  --cpd-color-fuchsia-400: #44005c;
  --cpd-color-fuchsia-300: #37004e;
  --cpd-color-fuchsia-200: #2c0042;
  --cpd-color-fuchsia-100: #28003d;
  --cpd-color-purple-1400: #eeebff;
  --cpd-color-purple-1300: #ded9ff;
  --cpd-color-purple-1200: #c4baff;
  --cpd-color-purple-1100: #ad9cfe;
  --cpd-color-purple-1000: #9e86fc;
  --cpd-color-purple-900: #9170f9;
  --cpd-color-purple-800: #7848ec;
  --cpd-color-purple-700: #5a27c6;
  --cpd-color-purple-600: #490bb1;
  --cpd-color-purple-500: #3d009e;
  --cpd-color-purple-400: #2c0080;
  --cpd-color-purple-300: #210068;
  --cpd-color-purple-200: #1c005a;
  --cpd-color-purple-100: #180050;
  --cpd-color-blue-1400: #e4eefe;
  --cpd-color-blue-1300: #cadefc;
  --cpd-color-blue-1200: #a1c4f8;
  --cpd-color-blue-1100: #7aabf4;
  --cpd-color-blue-1000: #5e99f0;
  --cpd-color-blue-900: #4187eb;
  --cpd-color-blue-800: #0e67d8;
  --cpd-color-blue-700: #0b48ab;
  --cpd-color-blue-600: #083890;
  --cpd-color-blue-500: #062d80;
  --cpd-color-blue-400: #001d6e;
  --cpd-color-blue-300: #001063;
  --cpd-color-blue-200: #00095d;
  --cpd-color-blue-100: #00055a;
  --cpd-color-cyan-1400: #d9f2f5;
  --cpd-color-cyan-1300: #b8e5eb;
  --cpd-color-cyan-1200: #76d0db;
  --cpd-color-cyan-1100: #21bacd;
  --cpd-color-cyan-1000: #01a6c6;
  --cpd-color-cyan-900: #0093be;
  --cpd-color-cyan-800: #0271aa;
  --cpd-color-cyan-700: #005188;
  --cpd-color-cyan-600: #003f74;
  --cpd-color-cyan-500: #003468;
  --cpd-color-cyan-400: #002559;
  --cpd-color-cyan-300: #001b4e;
  --cpd-color-cyan-200: #001448;
  --cpd-color-cyan-100: #001144;
  --cpd-color-green-1400: #d9f3e7;
  --cpd-color-green-1300: #b5e8d1;
  --cpd-color-green-1200: #70d5ad;
  --cpd-color-green-1100: #1fc090;
  --cpd-color-green-1000: #17ac84;
  --cpd-color-green-900: #129978;
  --cpd-color-green-800: #007961;
  --cpd-color-green-700: #005a43;
  --cpd-color-green-600: #004832;
  --cpd-color-green-500: #003d29;
  --cpd-color-green-400: #002e1b;
  --cpd-color-green-300: #002513;
  --cpd-color-green-200: #001f0e;
  --cpd-color-green-100: #001c0b;
  --cpd-color-lime-1400: #daf6d0;
  --cpd-color-lime-1300: #b6eba3;
  --cpd-color-lime-1200: #76d94d;
  --cpd-color-lime-1100: #56c02c;
  --cpd-color-lime-1000: #47ad26;
  --cpd-color-lime-900: #389b20;
  --cpd-color-lime-800: #1d7c13;
  --cpd-color-lime-700: #005c00;
  --cpd-color-lime-600: #004a00;
  --cpd-color-lime-500: #003e00;
  --cpd-color-lime-400: #002f00;
  --cpd-color-lime-300: #002500;
  --cpd-color-lime-200: #001e00;
  --cpd-color-lime-100: #001b00;
  --cpd-color-yellow-1400: #ffedb0;
  --cpd-color-yellow-1300: #fedb52;
  --cpd-color-yellow-1200: #efbb0b;
  --cpd-color-yellow-1100: #db9f00;
  --cpd-color-yellow-1000: #cc8c00;
  --cpd-color-yellow-900: #bb7a00;
  --cpd-color-yellow-800: #9d5b00;
  --cpd-color-yellow-700: #7b3e03;
  --cpd-color-yellow-600: #682e03;
  --cpd-color-yellow-500: #5b2300;
  --cpd-color-yellow-400: #4c1400;
  --cpd-color-yellow-300: #410900;
  --cpd-color-yellow-200: #3a0300;
  --cpd-color-yellow-100: #360000;
  --cpd-color-orange-1400: #ffe9db;
  --cpd-color-orange-1300: #ffd5b8;
  --cpd-color-orange-1200: #fbb27e;
  --cpd-color-orange-1100: #f6913d;
  --cpd-color-orange-1000: #ea7a12;
  --cpd-color-orange-900: #d9670d;
  --cpd-color-orange-800: #b94607;
  --cpd-color-orange-700: #972105;
  --cpd-color-orange-600: #820300;
  --cpd-color-orange-500: #710000;
  --cpd-color-orange-400: #580000;
  --cpd-color-orange-300: #470000;
  --cpd-color-orange-200: #3c0000;
  --cpd-color-orange-100: #380000;
  --cpd-color-red-1400: #ffe8e5;
  --cpd-color-red-1300: #ffd3cd;
  --cpd-color-red-1200: #ffaea4;
  --cpd-color-red-1100: #ff877b;
  --cpd-color-red-1000: #ff665d;
  --cpd-color-red-900: #fd3d3c;
  --cpd-color-red-800: #d0212a;
  --cpd-color-red-700: #9e0c1e;
  --cpd-color-red-600: #830009;
  --cpd-color-red-500: #710000;
  --cpd-color-red-400: #570000;
  --cpd-color-red-300: #470000;
  --cpd-color-red-200: #3b0000;
  --cpd-color-red-100: #370000;
  --cpd-color-gray-1400: #ebedf0;
  --cpd-color-gray-1300: #d9dde3;
  --cpd-color-gray-1200: #bbc3cd;
  --cpd-color-gray-1100: #9fabb8;
  --cpd-color-gray-1000: #8c9aaa;
  --cpd-color-gray-900: #79899b;
  --cpd-color-gray-800: #5b6d7f;
  --cpd-color-gray-700: #3f5062;
  --cpd-color-gray-600: #304051;
  --cpd-color-gray-500: #263646;
  --cpd-color-gray-400: #1a2939;
  --cpd-color-gray-300: #11202f;
  --cpd-color-gray-200: #0c1b29;
  --cpd-color-gray-100: #081725;
  --cpd-font-letter-spacing-heading-xl: -0.0216em;
  --cpd-font-letter-spacing-heading-lg: -0.0209em;
  --cpd-font-letter-spacing-heading-md: -0.0195em;
  --cpd-font-letter-spacing-heading-sm: -0.0166em;
  --cpd-font-letter-spacing-body-lg: -0.0128em;
  --cpd-font-letter-spacing-body-md: 0.0088em;
  --cpd-font-letter-spacing-body-sm: 0.0031em;
  --cpd-font-letter-spacing-body-xs: 0.0048em;
  --cpd-font-size-heading-xl: 32px;
  --cpd-font-size-heading-lg: 28px;
  --cpd-font-size-heading-md: 24px;
  --cpd-font-size-heading-sm: 20px;
  --cpd-font-size-body-lg: 17px;
  --cpd-font-size-body-md: 15px;
  --cpd-font-size-body-sm: 13px;
  --cpd-font-size-body-xs: 11px;
  --cpd-font-line-height-regular: 150%;
  --cpd-font-line-height-tight: 125%;
  --cpd-font-line-height-minimum: 100%;
  --cpd-font-weight-bold: 700;
  --cpd-font-weight-semibold: 600;
  --cpd-font-weight-medium: 500;
  --cpd-font-weight-regular: 400;
  --cpd-font-family-mono: Inconsolata;
  --cpd-font-family-sans: Inter;
  --cpd-border-width-0-5: 0.5;
  --cpd-border-width-4: 4;
  --cpd-border-width-2: 2;
  --cpd-border-width-1: 1;
  --cpd-space-56x: 224px;
  --cpd-space-36x: 144px;
  --cpd-space-16x: 64px;
  --cpd-space-12x: 48px;
  --cpd-space-11x: 44px;
  --cpd-space-10x: 40px;
  --cpd-space-6x: 24px;
  --cpd-space-0x: 0px;
  --cpd-space-scale: 4px;
  --cpd-font-heading-xl: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-xl)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-lg: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-lg)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-md: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-md)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-sm: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-sm)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-body-lg: var(--cpd-font-weight-regular) var(--cpd-font-size-body-lg)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-md: var(--cpd-font-weight-regular) var(--cpd-font-size-body-md)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-sm: var(--cpd-font-weight-regular) var(--cpd-font-size-body-sm)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-xs: var(--cpd-font-weight-regular) var(--cpd-font-size-body-xs)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-space-64x: 256px;
  --cpd-space-48x: 192px;
  --cpd-space-40x: 160px;
  --cpd-space-32x: 128px;
  --cpd-space-28x: 112px;
  --cpd-space-24x: 96px;
  --cpd-space-20x: 80px;
  --cpd-space-15x: 60px;
  --cpd-space-14x: 56px;
  --cpd-space-13x: 52px;
  --cpd-space-9x: 36px;
  --cpd-space-8x: 32px;
  --cpd-space-7x: 28px;
  --cpd-space-5x: 20px;
  --cpd-space-4x: 16px;
  --cpd-space-3x: 12px;
  --cpd-space-2x: 8px;
  --cpd-space-1-5x: 6px;
  --cpd-space-1x: var(--cpd-space-scale);
  --cpd-space-0-5x: 2px;
}
