:root {
  --cpd-color-pink-1400: #fff1f4;
  --cpd-color-pink-1300: #ffe8ed;
  --cpd-color-pink-1200: #ffccd7;
  --cpd-color-pink-1100: #ffbbca;
  --cpd-color-pink-1000: #ffa4b9;
  --cpd-color-pink-900: #ff92ac;
  --cpd-color-pink-800: #f12c75;
  --cpd-color-pink-700: #c51761;
  --cpd-color-pink-600: #99114f;
  --cpd-color-pink-500: #7c0c41;
  --cpd-color-pink-400: #61002d;
  --cpd-color-pink-300: #550024;
  --cpd-color-pink-200: #450018;
  --cpd-color-pink-100: #3c0012;
  --cpd-color-fuchsia-1400: #fbf1fb;
  --cpd-color-fuchsia-1300: #f8e9f9;
  --cpd-color-fuchsia-1200: #f0cff2;
  --cpd-color-fuchsia-1100: #eac0ed;
  --cpd-color-fuchsia-1000: #e3abe7;
  --cpd-color-fuchsia-900: #dd9de3;
  --cpd-color-fuchsia-800: #c153cb;
  --cpd-color-fuchsia-700: #a233b3;
  --cpd-color-fuchsia-600: #7d2394;
  --cpd-color-fuchsia-500: #65177d;
  --cpd-color-fuchsia-400: #4f0368;
  --cpd-color-fuchsia-300: #46005e;
  --cpd-color-fuchsia-200: #37004e;
  --cpd-color-fuchsia-100: #2e0044;
  --cpd-color-purple-1400: #f5f3ff;
  --cpd-color-purple-1300: #eeebff;
  --cpd-color-purple-1200: #dad5ff;
  --cpd-color-purple-1100: #cec7ff;
  --cpd-color-purple-1000: #c0b5ff;
  --cpd-color-purple-900: #b6a7ff;
  --cpd-color-purple-800: #8b66f8;
  --cpd-color-purple-700: #7343e6;
  --cpd-color-purple-600: #5a27c6;
  --cpd-color-purple-500: #4a0db1;
  --cpd-color-purple-400: #350090;
  --cpd-color-purple-300: #2c0080;
  --cpd-color-purple-200: #22006a;
  --cpd-color-purple-100: #1c005a;
  --cpd-color-blue-1400: #eff5fe;
  --cpd-color-blue-1300: #e4eefe;
  --cpd-color-blue-1200: #c5dbfc;
  --cpd-color-blue-1100: #b2cffa;
  --cpd-color-blue-1000: #9ac0f8;
  --cpd-color-blue-900: #89b5f6;
  --cpd-color-blue-800: #337fe9;
  --cpd-color-blue-700: #0e61d1;
  --cpd-color-blue-600: #0b49ab;
  --cpd-color-blue-500: #083891;
  --cpd-color-blue-400: #032677;
  --cpd-color-blue-300: #001e6f;
  --cpd-color-blue-200: #001264;
  --cpd-color-blue-100: #00095d;
  --cpd-color-cyan-1400: #eaf7f9;
  --cpd-color-cyan-1300: #dbf2f5;
  --cpd-color-cyan-1200: #afe2e9;
  --cpd-color-cyan-1100: #93d9e2;
  --cpd-color-cyan-1000: #6bccd9;
  --cpd-color-cyan-900: #46c3d2;
  --cpd-color-cyan-800: #008aba;
  --cpd-color-cyan-700: #006ca4;
  --cpd-color-cyan-600: #005188;
  --cpd-color-cyan-500: #003f75;
  --cpd-color-cyan-400: #002d61;
  --cpd-color-cyan-300: #002559;
  --cpd-color-cyan-200: #001b4e;
  --cpd-color-cyan-100: #001448;
  --cpd-color-green-1400: #e9f8f1;
  --cpd-color-green-1300: #d9f4e7;
  --cpd-color-green-1200: #ace6cc;
  --cpd-color-green-1100: #8fddbc;
  --cpd-color-green-1000: #61d2a6;
  --cpd-color-green-900: #37c998;
  --cpd-color-green-800: #109173;
  --cpd-color-green-700: #00745c;
  --cpd-color-green-600: #005a43;
  --cpd-color-green-500: #004832;
  --cpd-color-green-400: #003622;
  --cpd-color-green-300: #002e1b;
  --cpd-color-green-200: #002513;
  --cpd-color-green-100: #001f0e;
  --cpd-color-lime-1400: #e9f9e3;
  --cpd-color-lime-1300: #daf6d0;
  --cpd-color-lime-1200: #afe99a;
  --cpd-color-lime-1100: #92e175;
  --cpd-color-lime-1000: #6ad639;
  --cpd-color-lime-900: #5eca2f;
  --cpd-color-lime-800: #31941d;
  --cpd-color-lime-700: #187611;
  --cpd-color-lime-600: #005c00;
  --cpd-color-lime-500: #004a00;
  --cpd-color-lime-400: #003700;
  --cpd-color-lime-300: #003000;
  --cpd-color-lime-200: #002600;
  --cpd-color-lime-100: #002000;
  --cpd-color-yellow-1400: #fff4d0;
  --cpd-color-yellow-1300: #ffedb1;
  --cpd-color-yellow-1200: #fed632;
  --cpd-color-yellow-1100: #f7c816;
  --cpd-color-yellow-1000: #ebb607;
  --cpd-color-yellow-900: #e3aa00;
  --cpd-color-yellow-800: #b47200;
  --cpd-color-yellow-700: #985600;
  --cpd-color-yellow-600: #7c3e02;
  --cpd-color-yellow-500: #682e03;
  --cpd-color-yellow-400: #541d00;
  --cpd-color-yellow-300: #4c1400;
  --cpd-color-yellow-200: #410900;
  --cpd-color-yellow-100: #3a0300;
  --cpd-color-orange-1400: #fff2ea;
  --cpd-color-orange-1300: #ffeadb;
  --cpd-color-orange-1200: #fed0b1;
  --cpd-color-orange-1100: #fdc197;
  --cpd-color-orange-1000: #faad73;
  --cpd-color-orange-900: #f89d58;
  --cpd-color-orange-800: #d15f0b;
  --cpd-color-orange-700: #b44007;
  --cpd-color-orange-600: #972206;
  --cpd-color-orange-500: #830500;
  --cpd-color-orange-400: #650000;
  --cpd-color-orange-300: #580000;
  --cpd-color-orange-200: #470000;
  --cpd-color-orange-100: #3c0000;
  --cpd-color-red-1400: #fff2ef;
  --cpd-color-red-1300: #ffe9e6;
  --cpd-color-red-1200: #ffcfc8;
  --cpd-color-red-1100: #ffbdb5;
  --cpd-color-red-1000: #ffa79d;
  --cpd-color-red-900: #ff968c;
  --cpd-color-red-800: #f52f33;
  --cpd-color-red-700: #c81e28;
  --cpd-color-red-600: #9f0d1e;
  --cpd-color-red-500: #830009;
  --cpd-color-red-400: #640000;
  --cpd-color-red-300: #590000;
  --cpd-color-red-200: #470000;
  --cpd-color-red-100: #3e0000;
  --cpd-color-gray-1400: #f2f5f7;
  --cpd-color-gray-1300: #ebeef2;
  --cpd-color-gray-1200: #d5dae1;
  --cpd-color-gray-1100: #c8ced5;
  --cpd-color-gray-1000: #b8bfc7;
  --cpd-color-gray-900: #acb4bd;
  --cpd-color-gray-800: #79818d;
  --cpd-color-gray-700: #606770;
  --cpd-color-gray-600: #4a4f55;
  --cpd-color-gray-500: #3c3f44;
  --cpd-color-gray-400: #2b2e33;
  --cpd-color-gray-300: #26282d;
  --cpd-color-gray-200: #1d1f24;
  --cpd-color-gray-100: #181a1f;
  --cpd-color-theme-bg: #101317;
  --cpd-color-bg-secondary-elevation-default: var(--cpd-color-gray-300);
  --cpd-color-bg-primary-elevation-default: var(--cpd-color-gray-400);
  --cpd-color-bg-canvas-elevation-1: var(--cpd-color-gray-300);
  --cpd-color-bg-canvas-elevation-default: var(--cpd-color-theme-bg);
}
