:root {
  --cpd-color-alpha-pink-1400: #ffebef;
  --cpd-color-alpha-pink-1300: #ffd1db;
  --cpd-color-alpha-pink-1200: #ffadc0;
  --cpd-color-alpha-pink-1100: #fe86a4;
  --cpd-color-alpha-pink-1000: #ff6691;
  --cpd-color-alpha-pink-900: #fe4382;
  --cpd-color-alpha-pink-800: #fe1b79;
  --cpd-color-alpha-pink-700: #fd1277;
  --cpd-color-alpha-pink-600: #fb0473;
  --cpd-color-alpha-pink-500: #6b0036;
  --cpd-color-alpha-pink-400: #570024;
  --cpd-color-alpha-pink-300: #470019;
  --cpd-color-alpha-pink-200: #3d0012;
  --cpd-color-alpha-pink-100: #38000f;
  --cpd-color-alpha-fuchsia-1400: #fdecfe;
  --cpd-color-alpha-fuchsia-1300: #fde0ff;
  --cpd-color-alpha-fuchsia-1200: #fac3fe;
  --cpd-color-alpha-fuchsia-1100: #faa4fe;
  --cpd-color-alpha-fuchsia-1000: #f790fe;
  --cpd-color-alpha-fuchsia-900: #f172fd;
  --cpd-color-alpha-fuchsia-800: #eb44fd;
  --cpd-color-alpha-fuchsia-700: #d82ffe;
  --cpd-color-alpha-fuchsia-600: #d21fff;
  --cpd-color-alpha-fuchsia-500: #ca0aff;
  --cpd-color-alpha-fuchsia-400: #45005c;
  --cpd-color-alpha-fuchsia-300: #36004d;
  --cpd-color-alpha-fuchsia-200: #2d0042;
  --cpd-color-alpha-fuchsia-100: #28003d;
  --cpd-color-alpha-purple-1400: #eeebff;
  --cpd-color-alpha-purple-1300: #dfdbff;
  --cpd-color-alpha-purple-1200: #c7bdff;
  --cpd-color-alpha-purple-1100: #ab9afe;
  --cpd-color-alpha-purple-1000: #a28bfe;
  --cpd-color-alpha-purple-900: #9271fe;
  --cpd-color-alpha-purple-800: #7f4dff;
  --cpd-color-alpha-purple-700: #712bfd;
  --cpd-color-alpha-purple-600: #690dfd;
  --cpd-color-alpha-purple-500: #3d009e;
  --cpd-color-alpha-purple-400: #2d0080;
  --cpd-color-alpha-purple-300: #22006b;
  --cpd-color-alpha-purple-200: #1d005c;
  --cpd-color-alpha-purple-100: #1a0057;
  --cpd-color-alpha-blue-1400: #e6effe;
  --cpd-color-alpha-blue-1300: #cde1fe;
  --cpd-color-alpha-blue-1200: #a3c8ff;
  --cpd-color-alpha-blue-1100: #7cb2fd;
  --cpd-color-alpha-blue-1000: #62a0fe;
  --cpd-color-alpha-blue-900: #4491fd;
  --cpd-color-alpha-blue-800: #1077fe;
  --cpd-color-alpha-blue-700: #0665fe;
  --cpd-color-alpha-blue-600: #015afe;
  --cpd-color-alpha-blue-500: #003cbd;
  --cpd-color-alpha-blue-400: #001e70;
  --cpd-color-alpha-blue-300: #001366;
  --cpd-color-alpha-blue-200: #00095c;
  --cpd-color-alpha-blue-100: #00055c;
  --cpd-color-alpha-cyan-1400: #e1fbfe;
  --cpd-color-alpha-cyan-1300: #c9f7fd;
  --cpd-color-alpha-cyan-1200: #8af1ff;
  --cpd-color-alpha-cyan-1100: #26e7fd;
  --cpd-color-alpha-cyan-1000: #00bfe0;
  --cpd-color-alpha-cyan-900: #0091bd;
  --cpd-color-alpha-cyan-800: #007ebd;
  --cpd-color-alpha-cyan-700: #00538a;
  --cpd-color-alpha-cyan-600: #003f75;
  --cpd-color-alpha-cyan-500: #003366;
  --cpd-color-alpha-cyan-400: #00265c;
  --cpd-color-alpha-cyan-300: #001b4d;
  --cpd-color-alpha-cyan-200: #001447;
  --cpd-color-alpha-cyan-100: #001142;
  --cpd-color-alpha-green-1400: #e2fdf1;
  --cpd-color-alpha-green-1300: #c4fde2;
  --cpd-color-alpha-green-1200: #86fdce;
  --cpd-color-alpha-green-1100: #26fdbc;
  --cpd-color-alpha-green-1000: #1bfebd;
  --cpd-color-alpha-green-900: #12fdbe;
  --cpd-color-alpha-green-800: #007a62;
  --cpd-color-alpha-green-700: #005c45;
  --cpd-color-alpha-green-600: #004732;
  --cpd-color-alpha-green-500: #003d29;
  --cpd-color-alpha-green-400: #002e1b;
  --cpd-color-alpha-green-300: #002412;
  --cpd-color-alpha-green-200: #001f0e;
  --cpd-color-alpha-green-100: #001f0c;
  --cpd-color-alpha-lime-1400: #e1fdd8;
  --cpd-color-alpha-lime-1300: #c3ffad;
  --cpd-color-alpha-lime-1200: #8dff5c;
  --cpd-color-alpha-lime-1100: #71fd35;
  --cpd-color-alpha-lime-1000: #60fc2c;
  --cpd-color-alpha-lime-900: #54fd26;
  --cpd-color-alpha-lime-800: #2dfd0d;
  --cpd-color-alpha-lime-700: #005c00;
  --cpd-color-alpha-lime-600: #004d00;
  --cpd-color-alpha-lime-500: #003d00;
  --cpd-color-alpha-lime-400: #002e00;
  --cpd-color-alpha-lime-300: #002900;
  --cpd-color-alpha-lime-200: #001f00;
  --cpd-color-alpha-lime-100: #001a00;
  --cpd-color-alpha-yellow-1400: #ffedb3;
  --cpd-color-alpha-yellow-1300: #feda58;
  --cpd-color-alpha-yellow-1200: #fdc50d;
  --cpd-color-alpha-yellow-1100: #dba100;
  --cpd-color-alpha-yellow-1000: #cc8b00;
  --cpd-color-alpha-yellow-900: #bd7b00;
  --cpd-color-alpha-yellow-800: #9e5c00;
  --cpd-color-alpha-yellow-700: #854200;
  --cpd-color-alpha-yellow-600: #753300;
  --cpd-color-alpha-yellow-500: #5c2300;
  --cpd-color-alpha-yellow-400: #4d1400;
  --cpd-color-alpha-yellow-300: #420900;
  --cpd-color-alpha-yellow-200: #380300;
  --cpd-color-alpha-yellow-100: #380000;
  --cpd-color-alpha-orange-1400: #ffeadb;
  --cpd-color-alpha-orange-1300: #ffd4b8;
  --cpd-color-alpha-orange-1200: #fdb781;
  --cpd-color-alpha-orange-1100: #fd953f;
  --cpd-color-alpha-orange-1000: #fe8310;
  --cpd-color-alpha-orange-900: #fe740b;
  --cpd-color-alpha-orange-800: #ff5900;
  --cpd-color-alpha-orange-700: #c72800;
  --cpd-color-alpha-orange-600: #850400;
  --cpd-color-alpha-orange-500: #700000;
  --cpd-color-alpha-orange-400: #570000;
  --cpd-color-alpha-orange-300: #470000;
  --cpd-color-alpha-orange-200: #3d0000;
  --cpd-color-alpha-orange-100: #380000;
  --cpd-color-alpha-red-1400: #ffe8e5;
  --cpd-color-alpha-red-1300: #ffd3cc;
  --cpd-color-alpha-red-1200: #ffaea3;
  --cpd-color-alpha-red-1100: #ff857a;
  --cpd-color-alpha-red-1000: #ff645c;
  --cpd-color-alpha-red-900: #fd3d3a;
  --cpd-color-alpha-red-800: #fe2530;
  --cpd-color-alpha-red-700: #fe0b24;
  --cpd-color-alpha-red-600: #850009;
  --cpd-color-alpha-red-500: #700000;
  --cpd-color-alpha-red-400: #5c0000;
  --cpd-color-alpha-red-300: #470000;
  --cpd-color-alpha-red-200: #3d0000;
  --cpd-color-alpha-red-100: #380000;
  --cpd-color-alpha-gray-1400: #f6f9fe;
  --cpd-color-alpha-gray-1300: #f2f7fd;
  --cpd-color-alpha-gray-1200: #edf4fc;
  --cpd-color-alpha-gray-1100: #e7f0fe;
  --cpd-color-alpha-gray-1000: #e1eefe;
  --cpd-color-alpha-gray-900: #e1effe;
  --cpd-color-alpha-gray-800: #e0edff;
  --cpd-color-alpha-gray-700: #e7f1fd;
  --cpd-color-alpha-gray-600: #eceff8;
  --cpd-color-alpha-gray-500: #f4f7fa;
  --cpd-color-alpha-gray-400: #ede7f4;
  --cpd-color-alpha-gray-300: #e9dbf0;
  --cpd-color-alpha-gray-200: #d9c3df;
  --cpd-color-alpha-gray-100: #d8dbdf;
  --cpd-color-pink-1400: #ffe8ed;
  --cpd-color-pink-1300: #ffd2dc;
  --cpd-color-pink-1200: #ffabbe;
  --cpd-color-pink-1100: #fe84a2;
  --cpd-color-pink-1000: #fa658f;
  --cpd-color-pink-900: #f4427d;
  --cpd-color-pink-800: #ce1865;
  --cpd-color-pink-700: #99114f;
  --cpd-color-pink-600: #7c0c41;
  --cpd-color-pink-500: #6d0036;
  --cpd-color-pink-400: #550024;
  --cpd-color-pink-300: #450018;
  --cpd-color-pink-200: #3c0012;
  --cpd-color-pink-100: #37000f;
  --cpd-color-fuchsia-1400: #f8e9f9;
  --cpd-color-fuchsia-1300: #f1d4f3;
  --cpd-color-fuchsia-1200: #e5b1e9;
  --cpd-color-fuchsia-1100: #d991de;
  --cpd-color-fuchsia-1000: #cf78d7;
  --cpd-color-fuchsia-900: #c560cf;
  --cpd-color-fuchsia-800: #aa36ba;
  --cpd-color-fuchsia-700: #7d2394;
  --cpd-color-fuchsia-600: #65177d;
  --cpd-color-fuchsia-500: #560f6f;
  --cpd-color-fuchsia-400: #46005e;
  --cpd-color-fuchsia-300: #37004e;
  --cpd-color-fuchsia-200: #2e0044;
  --cpd-color-fuchsia-100: #28003d;
  --cpd-color-purple-1400: #eeebff;
  --cpd-color-purple-1300: #dedaff;
  --cpd-color-purple-1200: #c4baff;
  --cpd-color-purple-1100: #ad9cfe;
  --cpd-color-purple-1000: #9e87fc;
  --cpd-color-purple-900: #9171f9;
  --cpd-color-purple-800: #7849ec;
  --cpd-color-purple-700: #5a27c6;
  --cpd-color-purple-600: #4a0db1;
  --cpd-color-purple-500: #3d009e;
  --cpd-color-purple-400: #2c0080;
  --cpd-color-purple-300: #22006a;
  --cpd-color-purple-200: #1c005a;
  --cpd-color-purple-100: #1a0055;
  --cpd-color-blue-1400: #e4eefe;
  --cpd-color-blue-1300: #cbdffc;
  --cpd-color-blue-1200: #a1c4f8;
  --cpd-color-blue-1100: #7aacf4;
  --cpd-color-blue-1000: #5e99f0;
  --cpd-color-blue-900: #4187eb;
  --cpd-color-blue-800: #0e67d9;
  --cpd-color-blue-700: #0b49ab;
  --cpd-color-blue-600: #083891;
  --cpd-color-blue-500: #062d80;
  --cpd-color-blue-400: #001e6f;
  --cpd-color-blue-300: #001264;
  --cpd-color-blue-200: #00095d;
  --cpd-color-blue-100: #00055a;
  --cpd-color-cyan-1400: #dbf2f5;
  --cpd-color-cyan-1300: #b8e5eb;
  --cpd-color-cyan-1200: #78d0dc;
  --cpd-color-cyan-1100: #21bacd;
  --cpd-color-cyan-1000: #02a7c6;
  --cpd-color-cyan-900: #0093be;
  --cpd-color-cyan-800: #0271aa;
  --cpd-color-cyan-700: #005188;
  --cpd-color-cyan-600: #003f75;
  --cpd-color-cyan-500: #003468;
  --cpd-color-cyan-400: #002559;
  --cpd-color-cyan-300: #001b4e;
  --cpd-color-cyan-200: #001448;
  --cpd-color-cyan-100: #001144;
  --cpd-color-green-1400: #d9f4e7;
  --cpd-color-green-1300: #b5e8d1;
  --cpd-color-green-1200: #72d5ae;
  --cpd-color-green-1100: #1fc090;
  --cpd-color-green-1000: #17ac84;
  --cpd-color-green-900: #129a78;
  --cpd-color-green-800: #007a62;
  --cpd-color-green-700: #005a43;
  --cpd-color-green-600: #004832;
  --cpd-color-green-500: #003d29;
  --cpd-color-green-400: #002e1b;
  --cpd-color-green-300: #002513;
  --cpd-color-green-200: #001f0e;
  --cpd-color-green-100: #001c0b;
  --cpd-color-lime-1400: #daf6d0;
  --cpd-color-lime-1300: #b6eca3;
  --cpd-color-lime-1200: #77d94f;
  --cpd-color-lime-1100: #56c02c;
  --cpd-color-lime-1000: #47ad26;
  --cpd-color-lime-900: #389b20;
  --cpd-color-lime-800: #1d7c13;
  --cpd-color-lime-700: #005c00;
  --cpd-color-lime-600: #004a00;
  --cpd-color-lime-500: #003e00;
  --cpd-color-lime-400: #003000;
  --cpd-color-lime-300: #002600;
  --cpd-color-lime-200: #002000;
  --cpd-color-lime-100: #001b00;
  --cpd-color-yellow-1400: #ffedb1;
  --cpd-color-yellow-1300: #fedb58;
  --cpd-color-yellow-1200: #efbb0b;
  --cpd-color-yellow-1100: #db9f00;
  --cpd-color-yellow-1000: #cc8c00;
  --cpd-color-yellow-900: #bc7a00;
  --cpd-color-yellow-800: #9d5b00;
  --cpd-color-yellow-700: #7c3e02;
  --cpd-color-yellow-600: #682e03;
  --cpd-color-yellow-500: #5c2400;
  --cpd-color-yellow-400: #4c1400;
  --cpd-color-yellow-300: #410900;
  --cpd-color-yellow-200: #3a0300;
  --cpd-color-yellow-100: #360000;
  --cpd-color-orange-1400: #ffeadb;
  --cpd-color-orange-1300: #ffd5b9;
  --cpd-color-orange-1200: #fbb37e;
  --cpd-color-orange-1100: #f6913d;
  --cpd-color-orange-1000: #eb7a12;
  --cpd-color-orange-900: #da670d;
  --cpd-color-orange-800: #b94607;
  --cpd-color-orange-700: #972206;
  --cpd-color-orange-600: #830500;
  --cpd-color-orange-500: #710000;
  --cpd-color-orange-400: #580000;
  --cpd-color-orange-300: #470000;
  --cpd-color-orange-200: #3c0000;
  --cpd-color-orange-100: #380000;
  --cpd-color-red-1400: #ffe9e6;
  --cpd-color-red-1300: #ffd4cd;
  --cpd-color-red-1200: #ffaea4;
  --cpd-color-red-1100: #ff877c;
  --cpd-color-red-1000: #ff665d;
  --cpd-color-red-900: #fd3e3c;
  --cpd-color-red-800: #d1212a;
  --cpd-color-red-700: #9f0d1e;
  --cpd-color-red-600: #830009;
  --cpd-color-red-500: #710000;
  --cpd-color-red-400: #590000;
  --cpd-color-red-300: #470000;
  --cpd-color-red-200: #3e0000;
  --cpd-color-red-100: #370000;
  --cpd-color-gray-1400: #ebeef2;
  --cpd-color-gray-1300: #d9dee4;
  --cpd-color-gray-1200: #bdc3cc;
  --cpd-color-gray-1100: #a3aab4;
  --cpd-color-gray-1000: #9199a4;
  --cpd-color-gray-900: #808994;
  --cpd-color-gray-800: #656c76;
  --cpd-color-gray-700: #4a4f55;
  --cpd-color-gray-600: #3c3f44;
  --cpd-color-gray-500: #323539;
  --cpd-color-gray-400: #26282d;
  --cpd-color-gray-300: #1d1f24;
  --cpd-color-gray-200: #181a1f;
  --cpd-color-gray-100: #14171b;
  --cpd-color-theme-bg: #101317;
  --cpd-color-icon-accent-tertiary: var(--cpd-color-green-800);
  --cpd-color-icon-quaternary: var(--cpd-color-gray-700);
  --cpd-color-icon-tertiary: var(--cpd-color-gray-800);
  --cpd-color-icon-secondary: var(--cpd-color-gray-900);
  --cpd-color-icon-primary: var(--cpd-color-gray-1400);
  --cpd-color-text-link-external: var(--cpd-color-blue-900);
  --cpd-color-text-action-critical: var(--cpd-color-red-900);
  --cpd-color-text-action-accent: var(--cpd-color-green-900);
  --cpd-color-text-action-primary: var(--cpd-color-gray-1400);
  --cpd-color-text-disabled: var(--cpd-color-gray-800);
  --cpd-color-text-placeholder: var(--cpd-color-gray-800);
  --cpd-color-text-secondary: var(--cpd-color-gray-900);
  --cpd-color-text-primary: var(--cpd-color-gray-1400);
  --cpd-color-bg-action-primary: var(--cpd-color-gray-1400);
  --cpd-color-bg-secondary: var(--cpd-color-gray-300);
  --cpd-color-bg-primary: var(--cpd-color-gray-400);
  --cpd-color-bg-canvas: var(--cpd-color-theme-bg);
}
