name: Automation
on:
  pull_request: {}
  push:
    branches: [main]
jobs:
  types:
    name: Check types
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up cache
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "lts/*"
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Check types
        run: yarn types

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up cache
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "lts/*"
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn exec biome -- ci

  build:
    name: Check that generated files are up to date
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up cache
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "lts/*"
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build generated files
        run: yarn build
      - name: Check for changes
        run: >
          if [ -z "$(git status --porcelain)" ];
          then
            echo "Generated files are up to date."
            exit 0
          else
            echo "The files below have not been regenerated. Please run 'yarn build' to fix this."
            echo "$(git status)"
            exit 1
          fi
