name: Sync icons
on:
  # Allow workflow to be run manually
  workflow_dispatch: {}
  schedule:
    # Run at least once per week
    - cron: '20 2 * * WED'
env:
  svg2xml_version: 1.0.2
jobs:
  types:
    name: Sync icons
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up cache
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "lts/*"
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Setup svg2xml
        run: |
          ./.github/workflows/scripts/svg2xml.sh ${{ env.svg2xml_version }}
          echo "$PWD/svg2xml-${{ env.svg2xml_version }}/bin" >> $GITHUB_PATH
      - name: Sync icons
        run: yarn sync:icons
        env:
          FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_ACCESS_TOKEN }}
      - name: Generate files
        run: yarn build
      - name: Clean up
        run: rm -r svg2xml*
      - name: Create pull request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
        with:
          # CI won't run if we use the default GITHUB_TOKEN
          token: ${{ secrets.ELEMENT_BOT_TOKEN }}
          commit-message: Sync icons from Figma
          title: Sync icons from Figma
          body: New data is available from [Compound Icons](https://www.figma.com/design/gkNXqPoiJhEv2wt0EJpew4/Compound-Icons).
          branch: actions/sync-tokens
          delete-branch: true
